@font-face {
    font-family: 'UniSansBook';
    src: url("assets/fonts/UniSansBook.ttf")
}

@font-face {
    font-family: 'UniSansHeavy';
    src: url("assets/fonts/UniSansHeavy.ttf");
}

@font-face {
    font-family: 'UniSansSemiBold';
    src: url("assets/fonts/UniSansSemiBold.ttf")
}

@font-face {
    font-family: 'Marutya';
    src: url("assets/fonts/Marutya.ttf")
}


$font-family-sans-serif: 'Arial', 'Helvetica', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

$fontFamilyTwo: "Fontfabric";
$fontFamilyOne: "UniSansHeavy"; // titles
$fontFamilyThree: "UniSansSemiBold";
$fontFamilyFour: "UniSansThinCaps";
$fontFamilyFive: "UniSansBook";